body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  color: #654062;
  font-variant: small-caps;
  padding: 20px 0px;
  margin: 0px;
}

h6 {
  font-variant: small-caps;
}
form div {
  text-align: center;
}

.btn-secondary {
  margin: 10px;
  border-radius: 20px;
}

.link {
  text-align: center;
  margin: 20px;
}

.link a {
  text-decoration-line: none;
  color: blueviolet;
}

div .weather-list {
  display: block;
  border: 10px;
}
.now {
  margin: 0 auto;
}

.high {
  font-weight: bold;
  font-size: larger;
  color: blueviolet;
}

.wi {
  color: blueviolet;
  font-size: xx-large;
}