body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h1 {
  color: #654062;
  font-variant: small-caps;
  padding: 20px 0px;
  margin: 0px;
}
form div {
  text-align: center;
}
.cf-select {
  text-align: center;
  padding: 10px 10px 10px;
}
.btn-secondary {
  margin: 10px;
  border-radius: 20px;
  color: #654062;
  background: white;
  box-shadow: 2px 2px;
}
.link a {
  text-decoration-line: none;
  display: block;
  text-align: center;
  margin: 40px;
}
