body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h1 {
  color: #654062;
  font-variant: small-caps;
}
.time {
  font: bold;
  font-size: medium;
}
img {
  width: 100px;
}
p {
  text-align: center;
  color: #654062;
  font-weight: bold;
}
.current {
  color: #67e1fc;
}
form div {
  text-align: center;
}
.cf-select {
  text-align: center;
  padding: 10px 10px 10px;
}
.btn-secondary {
  margin: 10px;
  border-radius: 20px;
  color: #654062;
  background: white;
  box-shadow: 2px 2px;
}
